<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
      </assemblies>
    </compilation>
	<authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="50000"/>
    <add key="conString" value="server=CAMB84\CAMB84;database=QA_MachineStd_v2;User ID=cambrocatalog;Password=~PASSWORD~;Encrypt=True;TrustServerCertificate=True;Connection Timeout=0;"/>
    <add key="conStringPassword" value="211034003185194025165198158175160120236202196211"/>
    <add key="server" value="CAMB84\CAMB84"/>
    <add key="database" value="QA_MachineStd_v2"/>
    <add key="userId" value="cambrocatalog"/>
    <add key="password" value="211034003185194025165198158175160120236202196211"/>
    <add key="debugUser" value=""/>
    <add key="rootURL" value="..\"/>
    <add key="clearCached-CSSandJS" value="1"/>
    <add key="gridPageSize" value="20"/>
    <add key="errorLog" value="D:\Webs\manufacturing\MachineRunData\errors\"/>
    <add key="errorEmailSubject" value="cambro-web-01-MachineRunData - Error"/>
    <add key="sendErrorEmail" value="yes"/>
    <add key="smtpServer" value="smtp.gmail.com"/>
    <add key="smtpServerUser" value="HoffmanConsultingServices"/>
    <add key="smtpServerPassword" value="175233128156247025087173124053094122002000081078"/>
    <add key="smtpServerPort" value="587"/>
    <add key="smtpServerSSL" value="1"/>
    <add key="smtpFromEmailAddr" value="HoffmanConsultingServices@gmail.com"/>
    <add key="webmasterEmailAdr" value="bob@bobhoffman.net"/>
    <add key="webmasterLogin" value="167139239247112227221044050066003072248100251014"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
</configuration>